<form action="/auth/register" method="post">
    <input type="text" placeholder="Primer nombre" name="firstName"><br>
    <input type="text" placeholder="Segundo nombre" name="lastName"><br>
    <input type="text" placeholder="Nombre de usuario" name="userName"><br>
    <input type="password" placeholder="Contraseña" name="password"><br>
    <input type="password" placeholder="Confirmar contraseña" name="confirm"><br>
    <button type="submit">Registrarme</button>
</form>