<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothes Designer</title>
    <link rel="stylesheet" href="/css/master.css" type="text/css">
    <link rel="stylesheet" href="{{{stylesheet}}}" type="text/css">
    <link rel="stylesheet" href="/partials/flash/master.css" type="text/css">
</head>
<body id="body">
    {{>flash/flash}}
    {{{ body }}}
    <footer>
        <p>This project is below GPL 3.0 license ot later</p>
        <script src="/partials/flash/main.js"></script>
        {{#if script}}<script src="{{{script}}}"></script>{{/if}}
        <script src="/js/main.js"></script>
    </footer>
</body>
</html>